<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="toshsoft.TSVNC" android:installLocation="auto" android:versionCode="14" android:versionName="0.6.0">
    <application android:theme="@style/Theme.AppCompat" android:icon="@mipmap/ic_launcher" android:label="TSVNC">
 		<activity android:label="@string/app_name" android:name="TSVNC" android:screenOrientation="landscape" android:theme="@style/Theme.AppCompat.Dialog.Alert">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"></action>
				<category android:name="android.intent.category.LAUNCHER"></category>
			</intent-filter>
		</activity>
		<activity android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden" android:name="toshsoft.TSVNC.VncCanvasActivity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"></action>
			</intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="vnc" />
            </intent-filter>
		</activity>
       <activity android:name="toshsoft.TSVNC.ConnectionListActivity" android:label="@string/shortcut_label">
        	<intent-filter>
        		<action android:name="android.intent.action.CREATE_SHORTCUT" />
        		<category android:name="android.intent.category.DEFAULT" />
        	</intent-filter>
        </activity>
	</application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <uses-sdk android:targetSdkVersion="4"></uses-sdk>
    <supports-screens android:anyDensity="true" />

</manifest> 
